{% extends "baseBackground.html" %}
{% block content %}
<script>

</script>

 <div class="container-fluid">
        <div class="row h-100 align-items-center">
            <div class="col-sm-12 text-center">
                <h2 class="text-center">Glass Katalog</h2>
                <button class="btn btn-primary" onclick ="" style="
                             margin: 1rem;
                        ">
                    Login
                </button>
                <p class="text-center">Created by Kai Ponel</p>
            </div>
        </div>
    </div>
{%endblock content%}