{% extends "baseBackground.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="container-fluid">
        <div class="row h-100 align-items-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center">
                <h2 class="text-center">Glass Katalog</h2>
                <form method="POST"> {% csrf_token %}
                   {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <p class="text-center">Created by Kai Ponel</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
{%endblock content%}