<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav_dropDown.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}" type="text/css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    {% block importFiles%}
    {%endblock importFiles%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
{% load static %}
<body class="bg_image" style="
    background-color: url({% static 'img/welcome.jpg' %});
    height: 1080px;">
   {% block content %}
   {% endblock content %}
</body>
</html>
