{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/smallerMediaCols.css' %}" type="text/css">
<div class="row align-items-center">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 align-items-center text-center">
<div class="text-center">
<form method="POST" enctype="multipart/form-data" class=""> {% csrf_token %}
   {{ form|crispy }}
    <input type="submit" value ="Save"/>
</form>
    </div>
    </div>
  <div class="col-sm-3"></div>
  </div>
{% endblock %}